<div class="container">
   <div class="row">
     
      <table class="table">
      
         <thead>
            <tr>
              <th>IMAGEN</th>
              <th>NOMBRE</th>
              <th>CAPACIDAD</th>
              <th>CIUDAD</th>
              <th>DESCRIPCIÓN</th>
            </tr>
         </thead>

         <tr>
            <td><%= image_tag @construction.image_url, id:"index-images" %></td>
            <td><%= @construction.name %></td>
            <td><%= @construction.capacity %></td>
            <td><%= @construction.city %></td>
            <td><%= @construction.description %></td>

            <% if user_signed_in? && @construction.user == current_user %>
             <td><%= link_to "Editar", edit_construction_path(@construction) %></td>
             <td><%= link_to "Eliminar", @construction, :method => :delete %></td>
            <% end %>
         </tr>
     
      </table>

      <div class="col-xs-6">
        <h3>Comentarios ( <%= @construction.comments.count %> )</h3>
        <hr>

        <% @construction.comments.each do |comment| %>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <%= comment.user.email %> comentó hace <%= time_ago_in_words(comment.created_at) %>
            </div>

            <div class="panel-body">
              <%= comment.body %>
              <% if user_signed_in? && comment.user == current_user %>
                <%= link_to "Eliminar", [comment.construction, comment], :method => :delete, class:"pull-right" %>
              <% end %>
            </div>
            
          </div>

        <% end %>

        <% if user_signed_in? %>
          <%= form_for([@construction, @construction.comments.build]) do |f| %>

            <div class="form-group">
              <h4>Nuevo Comentario</h4>
              <%= f.text_area :body, class:"form-control", placeholder:"Ingresa tu comentario" %>
            </div>

            <div class="form-group">
              <%= f.submit "Comentar", class:"btn btn-primary" %>
            </div>

          <% end %>
        <% end %>
        
      </div>
   </div>
</div>